# Flask configuration
FLASK_APP=app
FLASK_ENV=development
FLASK_DEBUG=1
SECRET_KEY=isi_dengan_secret_key_random_kamu
PORT=5000

# PostgreSQL configuration
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=

# AWS / LocalStack configuration
AWS_ENDPOINT_URL=http://localhost:4566
AWS_DEFAULT_REGION=ap-southeast-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# pgAdmin configuration
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=